<h1>Create a New Cocktail</h1>
<%= form_for @cocktail do |f| %>
  <%= f.label :name %>:
  <%= f.text_field :name %><br />

  <%= f.label :last_name %>:
  <%= f.text_field :last_name %><br />

  <%= f.submit %>
<% end %>
